---
layout: default
---
{% assign author = site.authors[page.author] %}
<section id="blog" class="container">
  <div class="blog">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-item">
          <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
              <div class="entry-meta">
                <span id="publish_date">{{ page.date  | date: "%-d/%m/%Y"  }}</span>
                <span><i class="fa fa-user"></i> <a href="/{{page.author}}">{{author.display_name}}</a></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-10 blog-content">
              <h2>{{page.title}}</h2>
              <h4>{{page.subtitle}}</h4>
              <br>
              {{content}}
            </div>

          </div>
        </div><!--/.blog-item-->

        <div class="media reply_section">
          <div class="pull-left post_reply text-center">
            <img src="https://s.gravatar.com/avatar/{{author.gravatar}}" class="img-circle" alt="" />
            <ul>
              <li><a href="http://github.com/{{author.github}}"><i class="fa fa-github"></i></a></li>
              <li><a href="http://twitter.com/{{author.twitter}}"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="media-body post_reply_content">
            <h3>{{author.name}}</h3>
            <p class="lead">{{author.bio}}</p>
            <p><strong>Web:</strong> <a href="{{author.web}}">Website</a></p>
          </div>
        </div>

        <h1 id="comments_title">Comments</h1>
        <div class="media comment_section">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'codoksblog';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div><!--/.col-md-8-->
    </div><!--/.row-->
  </div><!--/.blog-->
</section><!--/#blog-->
